footer(class="footer--section")
  div(class="footer--section__row container d-flex flex-column text-white-50 text-center")
    div(class="flex-grow-1")
      p Crafted with 
        svg(class="heart-solid")
          use(xlink:href="#heart-solid")
        |  and 
        svg(class="coffee-solid")
          use(xlink:href="#coffee-solid")
        |  by Nam Trường
    div(class="flex-grow-1")
      p(class="mb-0") &copy; 2020 ETraining.com