section(class="intro--section py-5 px-0")
  div(class="intro--section__title text-center")
    h2(class="font-weight-normal mb-4") Tại sao phải học tiếng Anh?
    p(class="mt-2 mb-4 text-body text-muted") Nếu bạn đang tự hỏi tại sao phải học tiếng Anh thì hãy xem xét 5 lý do đáng thuyết phục dành cho người mới bắt đầu ở dưới đây nhé
  div(class="container")
    div(class="row row-cols-md-2")
      div(class="intro--section__col--1 w-100" data-aos="fade-right" data-aos-anchor-placement="center-bottom")
        p(class="text-body") 
          svg(class="mr-3")
            use(xlink:href="#rocket")
          | Tiếng Anh là một trong những ngôn ngữ được sử dụng rộng rãi nhất
        p(class="text-body")
          svg(class="mr-3")
            use(xlink:href="#rocket")
          | Tiếng Anh sẽ mở ra nhiều cơ hội hơn cho bạn trong cuộc sống
        p(class="text-body")
          svg(class="mr-3")
            use(xlink:href="#rocket")
          | Tiếng Anh là ngôn ngữ của rất nhiều tài liệu vĩ đại nhất thế giới
        p(class="text-body")
          svg(class="mr-3")
            use(xlink:href="#rocket")
          | Tiếng Anh là một thử thách trí tuệ tuyệt vời!
        p(class="text-body")
          svg(class="mr-3")
            use(xlink:href="#rocket")
          | Tiếng Anh giúp bạn hoàn thiện bản thân
      div(class="d-none d-md-block intro--section__col--2 w-100" data-aos="fade-left" data-aos-anchor-placement="center-bottom")
        div
          picture
            source(type="image/webp" data-srcset="assets/img/intro.webp")
            source(type="image/webp" data-srcset="assets/img/intro.png")
            img(class="d-block mx-auto lazyload" data-src="assets/img/intro.png" alt="brain")
