section(class="review--section bg-white container-fluid px-0")
  div(class="review--section__title")
    h2(class="font-weight-normal text-center") Học viên nói gì về ETraining
  div(class="container p-0")
    div(class="carousel slide" id="review" data-ride="carousel")
      div(class="carousel-inner")
        //-----carosel-1------
        div(class="carousel-item active")
          div(class="d-flex flex-column flex-md-row")
            //- Avatar -------
            div(class="review--section__info text-center")
              picture
                source(type="image/webp" data-srcset="assets/img/student-1.webp")
                source(type="image/jpeg" data-srcset="assets/img/student-1.jpg")
                img(class="rounded-pill d-block mx-auto mb-3 lazyload" data-src="assets/img/student-1.jpg" alt="Nguyễn Hồ Bắc")
            //- Comments
            blockquote(class="review--section__comment blockquote flex-grow-1")
              p Trước đây em rất ngại học từ vựng tiếng Anh vì mỗi lần học là phải tìm lại các từ vựng mà mình đã ghi chép đâu đó trong vở rồi học thuộc từng từ rất nhàm chán. Nhưng từ khi biết đến ETraining việc học tiếng Anh của em đã trở lên thú vị hơn.
              footer(class="blockquote-footer") Nguyễn Hồ Bắc 
                cite(title="Đại học Mỏ địa chất Hà Nội") @ sinh viên HUMG
        //- Carousel - 2 --------
        div(class="carousel-item")
          div(class="d-flex flex-column flex-md-row")
            //- Avatar -------
            div(class="review--section__info text-center")
              picture
                source(type="image/webp" data-srcset="assets/img/student-2.webp")
                source(type="image/jpeg" data-srcset="assets/img/student-2.jpg")
                img(class="rounded-pill d-block mx-auto mb-3 lazyload" data-src="assets/img/student-2.jpg" alt="Hoàng Nhật Linh")
            //- Comments
            blockquote(class="review--section__comment blockquote flex-grow-1")
              p Trên mạng có rất nhiều website học tiếng Anh bằng flashcard nhưng hầu như toàn phải trả phí rồi mới được học. Em thấy học tiếng Anh ở đây vừa miễn phí lại còn chất lượng.  
              footer(class="blockquote-footer") Hoàng Nhật Thịnh 
                cite(title="Trung học cơ sở Nguyễn Trãi") @ học sinh THCS Nguyễn Trãi
        //- Carousel - 3-------------
        div(class="carousel-item")
          div(class="d-flex flex-column flex-md-row")
            //- Avatar -------
            div(class="review--section__info text-center")
              picture
                source(type="image/webp" data-srcset="assets/img/student-3.webp")
                source(type="image/jpeg" data-srcset="assets/img/student-3.jpg")
                img(class="rounded-pill d-block mx-auto mb-3 lazyload" data-src="assets/img/student-3.jpg" alt="Phạm Bích Thu")
            //- Comments
            blockquote(class="review--section__comment blockquote flex-grow-1")
              p Học từ vựng theo cách truyền thống vừa nhàm chán mà lại không nhớ được nhiều từ và lâu dài. Từ khi em chuyển sang phương pháp học mới này, em đã nhớ được nhiều từ và nhớ lâu hơn trong thời gian ngắn.
              footer(class="blockquote-footer") Phạm Bích Thu 
                cite(title="Đại học Bách khoa Hà Nội") @ sinh viên HUST