section(class="support--section bg-white container-fluid d-flex flex-wrap justify-content-center align-items-center")
  div
    svg(class="pugjs")
      use(xlink:href="#pugjs")
  div
    svg(class="nodejs")
      use(xlink:href="#nodejs")
  div
    svg(class="gulp")
      use(xlink:href="#gulp")
  div
    svg(class="bootstrap")
      use(xlink:href="#bootstrap")
  div
    svg(class="sass")
      use(xlink:href="#sass")