section(class="team--section")
  div(class="team--section__title")
    h2(class="font-weight-normal text-center") Đội ngũ của chúng tôi
    p(class="text-muted text-center") Nếu bạn cần hỗ trợ, hãy liên hệ với chúng tôi. Chúng tôi luôn chào đón bạn
  div(class="team--section__person d-flex container flex-wrap px-0")
    div(class="team--section__person__col-1 flex-grow-1" data-aos="fade-left" data-aos-anchor-placement="center-bottom")
      div(class="team--section__person__info")
        picture
          source(type="image/webp" data-srcset="assets/img/nam-truong.webp")
          source(type="image/jpeg" data-srcset="assets/img/nam-truong.jpg")
          img(class="lazyload" data-src="assets/img/nam-truong.jpg" alt="Dương Nam Trường")
        span(class="d-block text-center dev-name") Dương Nam Trường
        span(class="d-block text-center text-muted dev-title") Backend Developer
      div(class="team--section__person__social d-flex")
        a(class="flex-grow-1" href="https://www.facebook.com/truongduongg99")
          svg(class="facebook-icon")
            use(xlink:href="#facebook-f")
        a(class="flex-grow-1" href="https://t.me/truongduong99")
          svg(class="telegram-icon")
            use(xlink:href="#telegram-plane")
        a(class="flex-grow-1" href="https://twitter.com/truongduong99")
          svg(class="twitter-icon")
            use(xlink:href="#twitter")
        a(class="flex-grow-1" href="https://www.instagram.com/duongnamtruong99/")
          svg(class="instagram-icon")
            use(xlink:href="#instagram")
    div(class="team--section__person__col-2 flex-grow-1" data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-delay="100")
      div(class="team--section__person__info")
        img(src="src/img/van-duong.jpg" alt="Nguyễn Văn Dương")
        span(class="d-block text-center dev-name") Nguyễn Văn Dương
        span(class="d-block text-center text-muted dev-title") Frontend Developer
      div(class="team--section__person__social d-flex")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="facebook-icon")
            use(xlink:href="#facebook-f")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="telegram-icon")
            use(xlink:href="#telegram-plane")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="twitter-icon")
            use(xlink:href="#twitter")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="instagram-icon")
            use(xlink:href="#instagram")
    div(class="team--section__person__col-3 flex-grow-1" data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-delay="200")
      div(class="team--section__person__info")
        picture
          source(type="image/webp" data-srcset="assets/img/tung-duong.webp")
          source(type="image/jpeg" data-srcset="assets/img/tung-duong.jpg")
          img(class="lazyload" src="assets/img/tung-duong.jpg" alt="Nguyễn Tùng Dương")
        span(class="d-block text-center dev-name") Nguyễn Tùng Dương
        span(class="d-block text-center text-muted dev-title") Frontend Developer
      div(class="team--section__person__social d-flex")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="facebook-icon")
            use(xlink:href="#facebook-f")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="telegram-icon")
            use(xlink:href="#telegram-plane")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="twitter-icon")
            use(xlink:href="#twitter")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="instagram-icon")
            use(xlink:href="#instagram")
    div(class="team--section__person__col-4 flex-grow-1" data-aos="flip-left" data-aos-anchor-placement="center-bottom" data-aos-delay="300")
      div(class="team--section__person__info")
        picture
          source(type="image/webp" data-srcset="assets/img/sy-vuong.webp")
          source(type="image/jpeg" data-srcset="assets/img/sy-vuong.jpg")
          img(class="lazyload" src="assets/img/sy-vuong.jpg" alt="Dương Nam Trường")
        span(class="d-block text-center dev-name") Vương Sỹ Vượng
        span(class="d-block text-center text-muted dev-title") Frontend Developer
      div(class="team--section__person__social d-flex")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="facebook-icon")
            use(xlink:href="#facebook-f")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="telegram-icon")
            use(xlink:href="#telegram-plane")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="twitter-icon")
            use(xlink:href="#twitter")
        a(class="flex-grow-1" href="javascript:void(0)")
          svg(class="instagram-icon")
            use(xlink:href="#instagram")