.navbar {
  min-height: 60px;
}

nav {
  max-width: 1140px;
}

.logo {
  max-height: 30px;
}

.icon__notify {
  width: 1.875rem;
  height: 1.875rem;
  fill: #999;
  &:hover,
  &:active {
    fill: #333;
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
  }
}

.icon__profile {
  width: 2.5rem;
  height: 2.5rem;
  &:hover {
    border: 3px solid #f3ffbd;
    border-radius: 50rem;
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;
  }
}
