.team--section {
  padding-bottom: 1.875rem;
}
.team--section__title {
  padding: 3.75rem 15px 1.875rem 15px;
  h2 {
    line-height: 1.5;
  }
  p {
    font-size: 1.3125rem;
  }
}
[class*="team--section__person__col"] {
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all .5s ease-out;
  }
  padding: 0.9375rem 15px;
  border-radius: 5px;
  img {
    border-radius: 50rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.875rem;
    max-width: 9.375rem;
  }
}
.dev-name {
  font-size: 1.3125rem;
  line-height: 1.5;
  margin-bottom: 0.9375rem;
}
.dev-title {
  font-size: 1.125rem;
  line-height: 1.5;
}
.team--section__person__social {
  margin-top: 1.875rem;
  padding: 0.9375rem 15px;
  a {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    &:hover, &:active {
      .facebook-icon {
        fill: #3b5998;
        transition: fill 0.3s;
      }
      .telegram-icon {
        fill: #0088cc;
        transition: fill .3s;
      }
      .instagram-icon {
        fill: #e4405f;
        transition: fill .3s;
      }
      .twitter-icon {
        fill: #55acee;
        transition: fill .3s;
      }
    }
  }
  svg {
    width: 2rem;
    height: 2rem;
    fill: #6c757d;
    display: block;
    margin: 0 auto;
  }
}