.flashcard__aside {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 999999;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  .flashcard__aside__open {
    padding: 0.3rem;
    background: #fff;
    position: absolute;
    left: 100%;
    top: 150px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    svg {
      width: 2rem;
      height: 2rem;
      fill: #666;
    }
  }
  .close {
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
  }
  .flashcard__aside__logo {
    padding: 0.9375rem;
    border-bottom: 3px solid #f5f5f5;
    background-color: #ffe6ec;
    img {
      max-width: 6.25rem;
      display: block;
      margin: 0 auto;
    }
  }
  .nav-item {
    border-bottom: 3px solid #f5f5f5;

    &:hover {
      background: #ffe6ec;
      -webkit-transition: background 0.3s;
      transition: background 0.3s;
      a {
        color: #333;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
      }
    }
    a {
      color: #666;
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
}
