section(class="grammar__main__content")
  div(class="container my-4")
    div(class="row")
      div(class="grammar__article col-md-4 col-sm-6")
        div(class="rounded article__container shadow-sm")
          div(class="article__image")
            picture
              source(type="image/webp" data-srcset="./assets/img/e.webp")
              source(type="image/jpeg" data-srcset="./assets/img/e.jpg")
              img(class="lazyload" src="./assets/img/e.jpg", alt="english")
          div(class="article__description bg-white")
            h2(class="font-weight-normal") Các phụ kiện
            p(class="text-muted") Làm các bài tập và học các từ về một số phụ kiên.
            a(href="javascript:void(0)" role="button" class="btn btn-primary") Xem thêm

      div(class="grammar__article col-md-4 col-sm-6")
        div(class="rounded article__container shadow-sm")
          div(class="article__image")
            picture
              source(type="image/webp" data-srcset="./assets/img/e1.webp")
              source(type="image/jpeg" data-srcset="./assets/img/e1.jpg")
              img(class="lazyload" src="./assets/img/e1.jpg", alt="english")
          div(class="article__description bg-white")
            h2(class="font-weight-normal") Các hoạt động
            p(class="text-muted") Làm các bài tập và học các từ về một số hoạt động phổ biến.
            a(href="javascript:void(0)" role="button" class="btn btn-primary") Xem thêm
      
      div(class="grammar__article col-md-4 col-sm-6")
        div(class="rounded article__container shadow-sm")
          div(class="article__image")
            picture
              source(type="image/webp" data-srcset="./assets/img/e2.webp")
              source(type="image/jpeg" data-srcset="./assets/img/e2.jpg")
              img(class="lazyload" src="./assets/img/e2.jpg", alt="english")
          div(class="article__description bg-white")
            h2(class="font-weight-normal") Ngoại hình
            p(class="text-muted") Làm các bài tập và học cá từ để diễn tả ngoại hình của mọi người.
            a(href="javascript:void(0)" role="button" class="btn btn-primary") Xem thêm

      div(class="grammar__article col-md-4 col-sm-6")
        div(class="rounded article__container shadow-sm")
          div(class="article__image")
            picture
              source(type="image/webp" data-srcset="./assets/img/e3.webp")
              source(type="image/jpeg" data-srcset="./assets/img/e3.jpg")
              img(class="lazyload" src="./assets/img/e3.jpg", alt="english")
          div(class="article__description bg-white")
            h2(class="font-weight-normal") Phòng ngủ
            p(class="text-muted") Làm các bài tập và học các từ để nói về phòng ngủ của bạn.
            a(href="javascript:void(0)" role="button" class="btn btn-primary") Xem thêm

      div(class="grammar__article col-md-4 col-sm-6")
        div(class="rounded article__container shadow-sm")
          div(class="article__image")
            picture
              source(type="image/webp" data-srcset="./assets/img/e4.webp")
              source(type="image/jpeg" data-srcset="./assets/img/e4.jpg")
              img(class="lazyload" src="./assets/img/e4.jpg", alt="english")
          div(class="article__description bg-white")
            h2(class="font-weight-normal") Các bộ phân cơ thể
            p(class="text-muted") Làm những bài tập này để học những từ về các bộ phân cơ thể.
            a(href="javascript:void(0)" role="button" class="btn btn-primary") Xem thêm
      
      div(class="grammar__article col-md-4 col-sm-6")
        div(class="rounded article__container shadow-sm")
          div(class="article__image")
            picture
              source(type="image/webp" data-srcset="./assets/img/e5.webp")
              source(type="image/jpeg" data-srcset="./assets/img/e5.jpg")
              img(class="lazyload" src="./assets/img/e5.jpg", alt="english")
          div(class="article__description bg-white")
            h2(class="font-weight-normal") Quần áo
            p(class="text-muted") Làm các bài tập và học cá từ để diễn tả các loại quần áo khác nhau.
            a(href="javascript:void(0)" role="button" class="btn btn-primary") Xem thêm
      
  div(class="load-more")
    button(class="btn btn-outline-primary" type='button') Xem nhiều hơn